<ion-header>
  <ion-navbar>
    <ion-buttons end>
        <button ion-button icon-only [navPush]="addplacePage">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>
      Awesome Places
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
</ion-content>
