<!--
  Generated template for the SetLocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Choose Location</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <agm-map [latitude]="location.lat" [longitude]="location.lon" [zoom]="16" (mapClick)="OnSetMarker($event)">
            <agm-marker [latitude]="marker.lat" [longitude]="marker.lon" *ngIf="marker"></agm-marker>
        </agm-map>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button color="secondary" block [disabled]="!marker" (click)="OnConfirm()">Confirm</button>
      </ion-col>
      <ion-col>
          <button ion-button block color="danger" (click)="OnAbort()">Abort</button>
        </ion-col>
    </ion-row>  
  </ion-grid>
</ion-content>
