<ion-header>
  <ion-navbar>
    <ion-title>add-place</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<form #f="ngForm" (ngSubmit)="OnSubmit(f)">
  <ion-list>
    <ion-item>
      <ion-label fixed>Title</ion-label>
      <ion-input type="text" placeholder="Beautifull church ..." name="title" ngModel required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Short Description</ion-label>
        <ion-textarea type="text"  name="description" ngModel required></ion-textarea>
      </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button outline block type="button" icon-left (click)="OnLocate()">
          <ion-icon name="locate"></ion-icon>
          Locate Me
        </button>
      </ion-col>
      <ion-col>
          <button ion-button outline block type="button" icon-left (click)="OnOpenMap()">
            <ion-icon name="map"></ion-icon>
            Select on Map
          </button>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Selected Place ...</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
          <h5>Take A Photo</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button icon-left block outline type="button" (click)="OnTakePhoto">
          <ion-icon name="camera"></ion-icon>
          Open Camera
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img [src]="" >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button color="secondary" block type="submit" [disabled]="!f.valid">Add This Place</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
